<div class="main-window">
  <div class="key-element" (click)="enterKey(0)">
    <svg viewBox="0 0 20 20">
      <rect x="1.33" y="1.33" width="17.34" height="17.34" fill="currentColor"/>
    </svg>
  </div>
  <div class="key-element" (click)="enterKey(1)">
    <svg viewBox="0 0 20 20">
      <polygon points="20,10 15,18.67 5,18.67 0,10 5,1.33 15,1.33" fill="currentColor"/>
    </svg>
  </div>
  <div class="key-element" (click)="enterKey(2)">
    <svg viewBox="0 0 20 20">
      <polygon points="0,5 20,5 20,15 0,15" fill="currentColor"/>
    </svg>
  </div>
  <div class="key-element" (click)="enterKey(3)">
    <svg viewBox="0 0 20 20">
      <polygon points="10,1.34 20,18.66 0,18.66" fill="currentColor"/>
    </svg>
  </div>
  <div class="key-element" (click)="enterKey(4)">
    <svg viewBox="0 0 20 20">
      <polygon points="0,1.33 10,1.33 20,18.67 10,18.67" fill="currentColor"/>
    </svg>
  </div>
  <div class="key-element" (click)="resetCode()">
    <svg viewBox="0 0 24 24">
      <path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z" fill="white"/>
      <path d="M0 0h24v24H0z" fill="none"/>
    </svg>
  </div>
  <div class="key-element wide" (click)="setPage('map', 'Karte')">
    <svg viewBox="0 0 24 24">
      <text x="2" y="14.3" style="font-size: 7px; font-family: 'Open Sans', 'sans-serif';" fill="white">KARTE</text>
    </svg> 
    <svg viewBox="0 0 24 24">
        <path d="M0 0h24v24H0z" fill="none"/>
      <path d="M20.5 3l-.16.03L15 5.1 9 3 3.36 4.9c-.21.07-.36.25-.36.48V20.5c0 .28.22.5.5.5l.16-.03L9 18.9l6 2.1 5.64-1.9c.21-.07.36-.25.36-.48V3.5c0-.28-.22-.5-.5-.5zM15 19l-6-2.11V5l6 2.11V19z" fill="white"/>
    </svg>
  </div>
  <div class="key-element wide" (click)="setPage('guestbook', 'Gästebuch')">
    <svg viewBox="0 0 24 24">
      <text x="2" y="10" style="font-size: 7px; font-family: 'Open Sans', 'sans-serif';" fill="white">GÄSTE</text>
      <text x="2" y="18" style="font-size: 7px; font-family: 'Open Sans', 'sans-serif';" fill="white">BUCH</text>
    </svg> 
    <svg viewBox="0 0 24 24">
      <path d="M0 0h24v24H0z" fill="none"/>
      <path d="M18 2H6c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zM6 4h5v8l-2.5-1.5L6 12V4z" fill="white"/>
    </svg>
  </div>
  <div class="key-element wide" (click)="setPage('help', 'Hilfe')">
    <svg viewBox="0 0 24 24">
      <text x="2" y="14.3" style="font-size: 7px; font-family: 'Open Sans', 'sans-serif';" fill="white">HILFE</text>
    </svg> 
    <svg viewBox="0 0 24 24">
      <path d="M0 0h24v24H0z" fill="none"/>
      <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 17h-2v-2h2v2zm2.07-7.75l-.9.92C13.45 12.9 13 13.5 13 15h-2v-.5c0-1.1.45-2.1 1.17-2.83l1.24-1.26c.37-.36.59-.86.59-1.41 0-1.1-.9-2-2-2s-2 .9-2 2H8c0-2.21 1.79-4 4-4s4 1.79 4 4c0 .88-.36 1.68-.93 2.25z" fill="white" />
    </svg>
  </div>
</div>