.main-window {
    background: transparent;
    border-radius: 10px;
    padding: 5px 20px;
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 8px;
}

.key-element { color: white; }
.key-element:nth-of-type(1) { color: #f50057; }
.key-element:nth-of-type(2) { color: #d500f9; }
.key-element:nth-of-type(3) { color: #00e676; }
.key-element:nth-of-type(4) { color: #ffe81d; }
.key-element:nth-of-type(5) { color: #ff9800; }

.key-element {
    background: #222;
    padding: 15px;
    border-radius: 4px;
    transition: all 0.1s ease-in;
    cursor: pointer;
    box-sizing: border-box;
}

.key-element:active {
    box-shadow: inset 0px 0px 30px -10px currentColor;
    border: 2px solid currentColor;
    transition: all 0.01s ease;
    transform: scale(0.98);
}

.key-element:hover {
    border: 1px solid currentColor;
}

.wide {
    grid-column: auto / span 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    padding: 10px;
    svg {
        max-height: auto;
        max-width: 100%;
    }
}

@media screen and (max-width: 499px) {
    .main-window {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 6px;
    }
    .wide {
        max-height: calc(33.33vw - 17px);
        grid-column: auto / span 1;
        display: flex;
        flex-direction: column-reverse;
        background: transparent;
        color: #222;
        border: 2px solid currentColor;
        svg {
            text { fill: #222; }
            path:nth-of-type(2) { fill: #222; }
        }
    }
    .wide:hover {
        border: 3px solid currentColor;
    }
}

@media screen and (min-width: 720px) {
    .main-window {
        grid-template-columns: repeat(6, 1fr);
    }
}


_:-ms-lang(x), .main-window {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

_:-ms-lang(x), .key-element {
    width: 24%;
    margin: 2px;
}

_:-ms-lang(x), .wide {
    display: flex;
    background: transparent;
    color: #222;
    border: 2px solid currentColor;
    svg {
        max-width: 50%;
        text { fill: #222; }
        path:nth-of-type(2) { fill: #222; }
    }
}

_:-ms-lang(x), .key-element:active {
    box-shadow: inset 0px 0px 30px -10px currentColor;
    border: 2px solid currentColor;
    transition: all 0.01s ease;
    transform: scale(1);
}
