<div class="overlay overlay-hidden" #overlay>
    <div class="modal modal-hidden" #modal>
        <h1>{{ modalText.title }}</h1>
        <p>{{ modalText.content }}</p>
        <button (click)="switchModal(false)">Okay</button>
    </div>
</div>
<div class="viewport">
    <div class="main-window" #main>
        <app-input></app-input>
        <div class="notification">
            <h1>Projekt beendet</h1>
            <p>Das Stadt&shy;fest von Die&shy;ti&shy;kon 2018 ist mit&shy;tler&shy;wei&shy;le vor&shy;bei und die Vi&shy;de&shy;os sind nicht mehr ver&shy;füg&shy;bar.</p>
        </div>
    </div>
    <div class="side-panel" #side>
        <div class="toolbar">
            <div class="back-button" (click)="closeSidebar()">
                <svg viewBox="0 0 64 24">
                    <path d="M15.41,16.59L10.83,12l4.58-4.59L14,6l-6,6l6,6L15.41,16.59z" fill="white" />
                    <path fill="none" d="M0,0h24v24H0V0z"/>
                    <text x="22" y="15.6" style="font-size: 10px;" fill="white">ZURÜCK</text>
                </svg>
            </div>
            <a>{{ sidePanelTitle  }}</a>
        </div>
        <app-help *ngIf="sidePanelPage === 'help'"></app-help>
        <app-map *ngIf="sidePanelPage === 'map'"></app-map>
        <app-video *ngIf="sidePanelPage === 'video'"></app-video>
        <app-guestbook *ngIf="sidePanelPage === 'guestbook'"></app-guestbook>
    </div>
</div>