.field-parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 25px 15px;
    margin: 0px 25px;
    border-radius: 4px;
    // background: #222;
    // box-shadow: inset 0px 0px 50px #222, inset 0px 0px 10px #222, inset 0px 0px 20px #222, inset 0px 0px 5px #222;
    // border: 5px solid #222;
}
.field {
    padding: 5px;
}

svg > polygon {
    transition: fill 0.2s ease;
}